@import "./util.scss";
#message-bar{
	flex: 1;
	background-color: white;
	display: flex;
    height: 500px;
	flex-direction: column;
	.title{
	    flex: none;
		height: 45px;
		line-height: 45px;
		text-align: center;
		margin: 0px 10px;
		border-bottom: 1px solid #DBDBDB;
		font-size: 16px;
		@include text-overflow;	
	}
	/*---滚动条默认显示样式--*/    
	::-webkit-scrollbar-thumb{
	    background-color: #CECECE;  
	    -webkit-border-radius:4px;    
	    border-radius: 4px;
	}   
	/*---鼠标点击滚动条显示样式--*/    
	::-webkit-scrollbar-thumb:hover{    
	   background-color: #7A7A7A;  
	}    
	   
	/*---滚动条大小--*/    
	::-webkit-scrollbar{    
	   width:8px;    
	}   
	   
	/*---滚动框背景样式--*/    
	::-webkit-scrollbar-track-piece{    
	   background-color:transparent;    
	   -webkit-border-radius:0; 
	   width: 0;  
	}    
}
#chat-input{
	flex: none;
	border-top: 1px solid #DBDBDB;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	textarea{
		display: block;
		width: 100%;
		flex: 1;
	    padding: 10px;
	    outline: none;
	    white-space: pre-wrap;
    	word-break: initial;
	    box-sizing: border-box;
	    word-wrap: break-word;
	    resize: none;
		:focus{
			outline: none;
		}
		
	}
	/*---滚动条大小--*/    
	::-webkit-scrollbar{    
	   width:4px;    
	}   
	button{
		flex: none;
		width: 80px;
    	height: 28px;
    	margin: 10px;
		cursor: pointer;
		text-align: center;
		border-radius: 4px;
		background: #53C376;
		outline: none;
	    color: #fff;
		:focus{
			outline: none;
		}
	}
	

}
#chat-window{
	// flex: 1;
	height: 400px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	.item{
		max-width: 80%;
		display: flex;
		flex: none;
		img{
			flex: none;
			width: 30px;
			height: 30px;
			margin: 10px;
		}
		p{
			margin: 10px 0px;
			flex: 1;
			white-space: pre-wrap;
    		word-break: break-all;
    		background-color: #b2e281;
    		border-radius: 4px;
    		font-size: 14px;
    		padding: 6px;
		}
	}
	.m-left{
		align-self: flex-start;
		img{
			order: 0;
		}
		p{
			order: 1;
		}
	}
	.m-right{
		align-self: flex-end;
		img{
			order: 1;
		}
		p{
			order: 0;
		}
	}

}