@import "./util.scss";
#message-bar{
	flex: 1;
	background-color: white;
	display: flex;
	flex-direction: column;
	.title{
	    flex: none;
		height: 45px;
		line-height: 45px;
		text-align: center;
		margin: 0px 10px;
		border-bottom: 1px solid #DBDBDB;
		font-size: 16px;
		@include text-overflow;	
	}
}
#chat-input{
	flex: none;
	border-top: 1px solid #DBDBDB;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	textarea{
		display: block;
		width: 100%;
		flex: 1;
	    padding: 10px;
	    outline: none;
	    white-space: pre-wrap;
    	word-break: initial;
	    box-sizing: border-box;
	    word-wrap: break-word;
	    resize: none;
		:focus{
			outline: none;
		}
	}
	button{
		flex: none;
		width: 80px;
    	height: 28px;
    	margin: 10px;
		cursor: pointer;
		text-align: center;
		border-radius: 4px;
		background: #53C376;
		outline: none;
	    color: #fff;
		:focus{
			outline: none;
		}
	}
	/*---滚动条默认显示样式--*/    
	::-webkit-scrollbar-thumb{
	    background-color: #CECECE;  
	    -webkit-border-radius:4px;    
	    border-radius: 4px;
	}   
	/*---鼠标点击滚动条显示样式--*/    
	::-webkit-scrollbar-thumb:hover{    
	   background-color: #7A7A7A;  
	}    
	   
	/*---滚动条大小--*/    
	::-webkit-scrollbar{    
	   width:4px;    
	}   
	   
	/*---滚动框背景样式--*/    
	::-webkit-scrollbar-track-piece{    
	   background-color:transparent;    
	   -webkit-border-radius:0; 
	   width: 0;  
	}    

}
#chat-window{
	flex: 1;
	overflow-y: scroll;
}